@CHARSET "utf-8";

/* CSS Document
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
	font-family: 'Nanum Gothic', ∏º¿∫∞ÌµÒ;
    color:#333;
} */
body, div, dl, dt, dd, ul, ol, li, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	padding: 0;
	margin: 0;
}
body {
    width: 100%;
    height: 100%;
	margin: 0 auto;
 	line-height: 1.5rem;
    letter-spacing:normal;
    
    font-size:11pt;
    background-color:#f6f6f6;
}

content{
    width: 100%;
    max-width: 65rem;
    margin:0 auto;
    vertical-align:middle;

    display:block;
    clear: both;
}

/* ---------------- nav ---------------- */
nav.nav{
	display:block;
	/*
	margin-top:20px;*/
}

nav.nav ul{
	display:table;
	width:100%;

}
nav.nav ul li{
	display:table-cell;
	padding:15px 0;
	background-color:#fff;
	
	border-bottom:1px solid #337ab7;
	
	text-align:center;
	
	/*
	width:19%;
	border-top:1px solid #ccc;
	border-right:1px solid #f6f6f6;
	*/
}
/*
nav.nav ul li:first-child{	
	border-radius:5px 0 0 5px;
}
nav.nav ul li:last-child{	
	border-radius:0 5px 5px 0;
}
{
	color:#fff;
	font-weight:bold;
	background-color:#999;
}
*/

nav.nav ul li.on,
nav.nav ul li:hover{
	background-color:#337ab7;
}

nav.nav ul li a{
	color:#337ab7;
	
}
nav.nav ul li.on a,
nav.nav ul li:hover a{
	font-weight:bold;
	color:#fff;
	
}

/* ---------------- nav ---------------- */


div.category ul{
	display:table;

}
div.category ul li{	
	display:table-cell;
	padding:5px 0;	
	text-align:center;
}








.contents h3{
    padding:15px 0 2px 10px;
	font-size:1em;
}



/* notice icon */

content div ul li p.notice span.title{
	color:#337ab7;
	font-weight:bold;
}
content div ul li p span.ic_notice{
	padding:3px;
	border-radius:3px;
	color:#fff;
	font-size:0.85em;
	background-color:#337ab7;
}



/* titie */
content ul.title_h2{
    padding-top: 40px;
}

content ul.title_h2 li.float_l{
    padding-left: 10px;
}

content ul.title_h2 li.float_l h2{
    height:30px;
	font-size:1.3em;
	color:#333;
	border-bottom:2px solid #666;
}
content ul.title_h2 li.float_r p{
	padding: 26px 0 0;
	/*
	vertical-align:middle;
	*/
}


div.category ul.nav{
	height:32px;
    padding-left: 10px;
}
div.category ul.nav li a{
	font-size:0.85em;
}
div.category ul.nav li.on a,
div.category ul.nav li:hover a{
	color:#337ab7;
}
div.category ul.nav li span.line_gray{
	color:#ccc;
	padding:0 5px;

}



/*
du01 normal list
du02 slide list
du03 photo list
*/

content ul.list_contents{
	
}
content div.du01 ul.list_contents li,
content div.du02 ul.list_contents li,
content div.du01 ul.view_contents li,
content div.du03 ul.view_contents li,
content div.du01 ul.write_contents li:not(.file){
    display:table;
    width:100%;
    list-style: none;

    background-color:white;
    border-bottom:1px solid #dadcdf;
}
content ul li p{
	
	padding:15px 10px; 
}
content ul.list_contents li p span.title{
    vertical-align: middle;	
    letter-spacing:-1px;
}

content ul.list_contents li p span.on{	
	font-weight:bold;
}
content ul.list_contents li p span.light_gray{	
    max-height:50px;
    display:block;
    font-size:11px;
	color:#aaa;
	/*
    line-height:15px;
    padding-right:10px;
	
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align:left;*/
}


content div.du02 ul.list_contents li p.m_content{
	padding:15px 25px 25px;
	background-color:#f6f6f6;
}
content div.du02 ul.list_contents li p.m_content span{	
	display:block;
	line-height:20px;	
}
content div.du02 ul.list_contents li p.m_content span img{
	padding:10px 0;
}

content div.du03 ul{
	
}
content div.du03 ul.list_contents li{
	display:block;
    float:left;
    width:30%;
	height:320px;
	margin:1%;
	
    border:1px solid #dadcdf;
	background-color:#fff;
	
}

content div.du03 ul.list_contents li:hover{
	font-weight:bold;
}
content div.du03 ul.list_contents li img.thumb {
	/*
    max-width:250px!important;*/
    width:100%;
    height:200px;
}

content div.du03 ul.list_contents li p.text{
	width:100%;
	height:30px;
}
content div.du03 ul.list_contents li p.text span.title{
	display:block;
	/*
	width:200px;
	white-space: nowrap;*/
	overflow: hidden;
	text-overflow: ellipsis;
}

content ul li span.more{
    vertical-align: middle;	
	display:inherit;
	float:right;
	font-size:.8em;
	font-weight:bold;
}


/*width-table-cell*/
/*
content ul li img,*/
content ul li p.text{
    vertical-align:middle;
}


content ul.list_contents li p.text{
    display:table-cell;
}

content ul.list_contents li p.cmt{
    display:table-cell;
    padding:0 5px;
    vertical-align:middle;

    width:50px!important;
    text-align:right;
}

content ul li p.text{
	width:65%;
}





/*
view_contents
*/


content ul.view_contents{
	/*
    background-color:white;
    height:90px !important;
	clear:both;*/
}
/*
content div.du01 ul.view_contents li,
content div.du03 ul.view_contents li{
    display:table;
    width:100%;
    list-style: none; 
	padding:15px 10px; 
    padding:.5rem 0;

    background-color:white;
    border-bottom:1px solid #dadcdf;
}*/

content div.du01 ul.list_contents li:hover{
	
	font-weight:bold;
    background-color:#f3f6f9;
}
content ul.view_contents li p{
	margin:0 auto;	
}
content ul.view_contents li p span.title{
	font-weight:bold;
    vertical-align: middle;	
    letter-spacing:-1px;
	/*
    font-weight:bold;
    word-wrap:break-word;
    word-break:break-all;
    text-align:left;*/
}

/*

content ul.view_contents li div.admin_l{
	float:left;
}

content ul.view_contents li div.admin_r{
	float:right;

}
*/

/* ---------------- float option ---------------- */
content .float_l,
content ul li div.file_l,
content ul li div.admin_l{
	float:left;
}
content .float_r,
content ul li div.file_r,
content ul li div.admin_r{
	float:right;

}
/* ----------------float option ----------------*/


content ul.view_contents li div span{
    font-size:11px;
	
}
content ul.view_contents li div.admin_l span.date{
	color:#aaa;
	/*	
    padding:10px;
    max-height:50px;
    line-height:15px;
	
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align:left;*/
}

content ul.view_contents li.title{
	padding:10px 0;
}


content div.du01 ul.view_contents li.m_content{
}
/*
content div.du01 ul.view_contents li.m_content span{	
	display:block;
	line-height:20px;	
}
*/
content div.du01 ul.view_contents li.m_content p{	
	display:block;
	line-height:20px;	
}
content div.du01 ul.view_contents li.m_content span img{
	padding:10px 0;
}






/*  */

content div.du01 ul.write_contents li.title{
    display:table;
    width:100%;
    list-style: none;
    background-color:#fff;
	border-bottom:1px solid #dadcdf;
}

content ul.view_contents li p,
content ul.write_contents li select,
content ul.write_contents li input,
content ul.write_contents li textarea{
	padding:10px;
}

content ul.write_contents li select {
	/*
    width:350px;*/
    background-color: #fff;
    border: 1px solid #fff;
    border-radius:1px;
    font-size:1.1em;
}
content ul.write_contents li input[type~=text],
content ul.write_contents li textarea {
    width:97%;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius:1px;
    font-size:1.1em;
}
content ul.write_contents li input[type~=text]{
	height:40px;	
}
content ul.write_contents li textarea{
	height:400px;
}
content ul.write_contents li input[type~=radio]{
	margin-left:20px;
}

content div.du01 ul.write_contents li.title:hover,
content div.du01 ul.write_contents li.m_content:hover{
    border-bottom:1px solid coral;
}

content ul li.file{
	display:block;
	float:left;
    width:100%;
    list-style: none;

    background-color:white;
    border-bottom:1px solid #dadcdf;
}
content ul li.file div.file_l{	
	max-width:60%!important;
	width:60%!important;
}

content ul li.file div.file_r{	
	max-width:40%!important;
	width:40%!important;
}
content div.du01 ul.write_contents li.file p span.file{
	max-width:80%;
	display:inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/*
	font-weight:bold;*/
	color:#666;
	float:left;
}
content div.du01 ul.write_contents li.file div.file_r p{
	text-align:right;
}
/*
content ul.write_contents li input[type~=text]:focus,
content ul.write_contents li textarea:focus {
    border:1px solid coral;
}
*/
/*
input[type~=text], input[type~=tel], input[type~=date] {
    width:95%;
    padding:5px;
	border: 1px solid #eee;
    border-radius:5px;
    background-color: #eee;
    color:#666;
    font-size:1.1em;
    letter-spacing:-1px;
}
input[type~=text]:focus, input[type~=tel]:focus, input[type~=date]:focus, textarea:focus, select:focus{
    border: 1px solid #f60;
}
*/


/* ----------------pagination-------------------- */
content div.page{
	text-align:center;
	padding: 20px;
}
content div.page ul.pagination{
	 display:inline-table;
	 border-radius:4px;
}
content div.page ul.pagination>li{
	display:inline;
	}
content div.page ul.pagination>li>a,
content div.page ul.pagination>li>span{
	position:relative;
	/*
	float:left;*/
	padding:6px 12px;
	margin-left:-1px;
	line-height:1.42857143;
	color:#337ab7;
	text-decoration:none;
	background-color:#fff;
	border:1px solid #ddd;
}
content div.page ul.pagination>li:first-child>a,
content div.page ul.pagination>li:first-child>span{
	margin-left:0;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
}
content div.page ul.pagination>li:last-child>a,
content div.page ul.pagination>li:last-child>span{
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
}

content div.page ul.pagination>li>a.on,
content div.page ul.pagination>li>span.on,
content div.page ul.pagination>li>a:focus,
content div.page ul.pagination>li>a:hover,
content div.page ul.pagination>li>span:focus,
content div.page ul.pagination>li>span:hover{
	z-index:2;
	color:#23527c;
	background-color:#eee;
	border-color:#ddd;
}
content div.page ul.pagination>.active>a,
content div.page ul.pagination>.active>a:focus,
content div.page ul.pagination>.active>a:hover,
content div.page ul.pagination>.active>span,
content div.page ul.pagination>.active>span:focus,
content div.page ul.pagination>.active>span:hover{
	z-index:3;
	color:#fff;
	cursor:default;
	background-color:#337ab7;
	border-color:#337ab7;
}
content div.page ul.pagination>.disabled>a,
content div.page ul.pagination>.disabled>a:focus,
content div.page ul.pagination>.disabled>a:hover,
content div.page ul.pagination>.disabled>span,
content div.page ul.pagination>.disabled>span:focus,
content div.page ul.pagination>.disabled>span:hover{
	color:#777;
	cursor:not-allowed;
	background-color:#fff;
	border-color:#ddd;
}
content div.page ul.pagination-lg>li>a,
content div.page ul.pagination-lg>li>span{
	padding:10px 16px;
	font-size:18px;line-height:1.3333333;
}
content div.page ul.pagination-lg>li:first-child>a,
content div.page ul.pagination-lg>li:first-child>span{
	border-top-left-radius:6px;
	border-bottom-left-radius:6px
}
content div.page ul.pagination-lg>li:last-child>a,
content div.page ul.pagination-lg>li:last-child>span{
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
}
content div.page ul.pagination-sm>li>a,
content div.page ul.pagination-sm>li>span{
	padding:5px 10px;
	font-size:12px;
	line-height:1.5;
}
content div.page ul.pagination-sm>li:first-child>a,
content div.page ul.pagination-sm>li:first-child>span{
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
content div.page ul.pagination-sm>li:last-child>a,
content div.page ul.pagination-sm>li:last-child>span{
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
}

/* ----------------pagination-------------------- */






/* more gray */
content div.du02 ul.list_contents li p span.more_gray{
	font-size:2em;
	color:#ccc;
	padding:0 20px 20px;
}
content div.du02 ul.list_contents li p span.more_gray:hover{	
	color:#00b8d4;
}


/* btn right
content ul.title_h2 li.float_r span.btn,
content ul.list_contents li.qna_view div.admin_r span.btn,
content ul.view_contents li div.admin_r span.btn,
content ul.write_contents li div */ span.btn{
	margin-left: 5px;
    padding:5px 8px;
	border-width:1px;
	border-radius:3px;
	font-weight:bold;
}
/* ------------------------------------
button color
*/
content ul li span.red{
    border:1px solid #ff5252;
	color:#ff5252;
	background-color:#fff;
}
content ul li span.green{
    border:1px solid #0aba72;
	color:#0aba72;
	background-color:#fff;
}
content ul li span.blue{
    border:1px solid #00b8d4;
	color:#00b8d4;
	background-color:#fff;
}
content ul li span.gray{
    border:1px solid #999;
	color:#666;
	background-color:#fff;
}
content ul li span.red:hover{
	background-color:#ff5252;
	color:white;
}
content ul li span.green:hover{
	background-color:#0aba72;
	color:white;
}
content ul li span.blue:hover{
	background-color:#00b8d4;
	color:white;
}
content ul li span.gray:hover{
	background-color:#999;
	color:white;
}


/*color*/
content ul li .red{
    color:#f60;
}

content ul li .green{
    color:#0a6;
}
content ul li .blue{
    color:#06f;
}

/* list, btn hover*/
content ul.list_contents li:hover,
content ul li .btn{
	cursor:pointer; 
}


/*

------------------------------------
div.info{
    padding:20px 10px 0;
}

div.info h3{
    margin-bottom:10px;
}
div.info p{
    font-size:.8em;
    line-height:1.5em;
}



div.sub_t{
    padding:20px 10px;
}
div.sub_t div:first-child{
	float:left;
	font-weight:bold;
}
div.sub_t div.more{
	float:right;
	
	color:#666;
	font-size:.8em;
	font-weight:bold;
}

------------------------------------ ±€æ¥¿Ã
content ul li p.text span.info{
	max-height:20px;
    display:block;
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient:vertical;
    overflow:hidden;
    text-overflow:ellipsis;
	font-size:11px!important;
	color:#999;
	text-align:left;
	margin-top:5px;
}

content ul li p.cmt span.count{
    display:inline-block;
	color:#f90;
	font-size:13px;
    letter-spacing:-1px;
	font-weight:bold;
    padding:0 10px;
    height:26px;
    border:1px solid #eee;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	line-height:26px;
}


content ul li span.more{
    vertical-align: middle;	
	display:inherit;
	float:right;
	font-size:.8em;
	font-weight:bold;
	
	margin-top:3px;
    padding:1px 5px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	line-height:15px;
	
    max-width:50px!important;
    width:50px;
	
    letter-spacing:-1px;
	background-color:#f90;
    border:1px solid #999;
    height:26px;
}


content ul.list_contents li img.thumb{
    float:left;
    display:table-cell;
    margin:0 5px;
}

content ul li p.more_p{
	width:25%;
}



*/

/*Coupon(event_coupon.html)*/
content div.coupon_number input[type="text"]{width:40%; margin:20px 0; padding:10px;border:1px solid #333;border-radius:3px;background-color:#333;color:#fff;text-align:center;letter-spacing:1px;}
content div.coupon_number input[type="text"]:focus{border:1px solid #009e91;color:#3ec;}

/**/
content div.box{
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
	text-align:center!important;
	}

content div.box .title_gct{line-height:2.5rem;}
content div.box div p{padding-bottom:10px;}
content div.box div img.gct{max-width:70%;height:auto;padding:20px 0 50px;}
content div.box .title_gct p{font-size:1.1rem;}

content div.box .app_gct{line-height:3rem;}
content div.box .app_gct input[type~=button]{
	width:255px;height:60px;padding:10px;
	background:#fff;color:#f90;font-size:1rem;font-weight:bold;
	border:0;border-radius:5px;
	}
content div.box .app_gct input[type~=button]:hover,
content div.box .app_gct p a img:hover{
	opacity:0.7;
}
	
	
	

/*º”º∫*/
ul, li, ol {
    list-style-type: none;
}
a, img, input, textarea, select, button {
	text-decoration: none;
	outline: none;
	select-dummy: expression( this.style.wordWrap="normal",this.hideFocus=true);
}

img {
	margin: 0px;
    padding: 0px;
    border: 0px;
    border-image: none;
    max-width:100%;
}
input::placeholder, textarea::placeholder{
	color:#ccc;
}
.clear{
    clear: both;
}


.center{
    text-align:center;
}



@media all and (max-width:480px) {
		
	content div.du03 ul{
		
	}
	content div.du03 ul.list_contents li{
		display:block;
		float:none;
		width:95%;
		margin:5px;
		vertical-align:middle;
		
		border:1px solid #dadcdf;
		
	}

	content div.du03 ul.list_contents li img.thumb {
		/*
		max-width:250px!important;*/
		width:100%;
		height:200px;/*auto;*/
		
	}

	content ul.write_contents li select,
	content ul.write_contents li input[type~=text],
	content ul.write_contents li textarea {
		width:94.5%;
	}
	content div.coupon_number input[type="text"]{width:80%;}
}